<%- include("templates/header.ejs") %>
    <h1 class="text-primary">Inicio</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae illo, aliquid distinctio est vero blanditiis esse doloremque at nostrum iure aliquam suscipit. Magni deserunt id, eligendi exercitationem error voluptatibus alias.</p>

<%
		var a = 5
		var b = 10
		var c = a + b
		var texto = "Hola es el valor de una variable"
	%>
	<%= "La suma de a + b es: " + c %>
	<a href="/info/<%=c %>/<%= texto %>">Enviar datos</a>

	<ul>
		<% artistas.forEach((artista) => { %>
			<li><%= artista %></li>
		<% }); %>
	</ul>

	<!--Tabla-->
	<div class="container my-5">
    <div class="card shadow-lg border-0 rounded-4 mx-auto" style="max-width: 500px;">
    <div class="card-header bg-gradient bg-primary text-white text-center rounded-top-4">
    	<h4 class="mb-0"> Lista de Artistas</h4>
    </div>

    <div class="card-body p-0">
        <table class="table table-hover align-middle text-center mb-0">
        <thead class="table-primary">
            <tr>
            <th>Artistas</th>
            </tr>
        </thead>
        <tbody>
            <% artistas.forEach((artista) => { %>
            <tr>
                <td class="fw-semibold"><%= artista %></td>
            </tr>
            <% }); %>
        </tbody>
        </table>
    </div>

    <div class="card-footer text-center bg-light rounded-bottom-4">
        <small class="text-muted">Total de artistas: <%= artistas.length %></small>
    </div>
	</div>
</div>


<%- include("templates/footer.ejs") %>
